*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    width: 100;
    height: 100vh;
    /* background-color: darkblue; */
    background-image:linear-gradient(rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.6) 30%),url('photo/8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .content h1{
        text-align: center;
    }
    .content fieldset{
        width: 600px;
        height: 500px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        background-color: lightgreen;
        border-radius: 10px;
    }
    .content fieldset legend{
        text-align: center;
        font-size: 2em;
        color: white;
    }

    .content fieldset form{
        width: 100%;
        height: 100%;
    }
    .content fieldset form table{
        width: 100%;
        height: 100%;
    }
    .content fieldset form table{
        border: none;
    }
    .content fieldset form table tr td label{
        font-size: 1.2em;
    }
    .content fieldset form table tr td{
        border: none;
        text-align: center;
    } 
    .content fieldset form table tr td textarea{
        width: 600px;
        height: 400px;
        resize: none;
        border-radius: 10px;
    }

    .content fieldset form table tr td input{
        width: 300px;
        height:50px;
        border-radius: 10px;
        outline: none;
        color: black;
        background-color: white;
    }
    .content fieldset form table tr td input{
        margin-right: 40px;
        margin-left: 3px;
    }
    




